.layout-main {
  max-width: 660px;
  min-height: calc(100vh - 128px);
  margin: 0 auto;
  border-style: solid;
  border-color: rgb(var(--color-border));
  border-left-width: 1px;
  border-right-width: 1px;
}
@media (max-width: 660px) {
  .layout-main {
    border-style: none;
  }
}
.layout-title {
  align-items: center;
  border-style: solid;
  border-color: rgb(var(--color-border));
  border-bottom-width: 1px;
  display: flex;
  height: 52px;
  padding: 0 15px;
}